{% extends 'tiendaapp/base.html' %}
{% load static %}

{% block tituloPagina %}
Home
{% endblock %}

{% block contenidoPagina %}
<div class="b-example-divider"></div>

  <div class="container px-4 py-5" id="tienda">
    <h2 class="pb-2 border-bottom">Tienda</h2>

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 py-5">
      <div class="col-md-4 mb-5">
        <div class="card h-100">
            <div class="card-body">
                <h2 class="card-title">Camperas</h2>
                
                <p class="card-text">Las Mejores camperas que puede ofrecer el mercado las vas a poder encontrar en esta tienda.</p>
            </div>
            <div class="card-footer"><a class="btn btn-primary btn-sm" href="{% url 'camperas'%}">Entrar</a></div>
        </div>
      </div>
      <div class="col-md-4 mb-5">
        <div class="card h-100">
            <div class="card-body">
                <h2 class="card-title">Cascos</h2>
                <p class="card-text">Aquí vas a poder encontrar las mejores y mas variadas marcas de cascos..</p>
            </div>
            <div class="card-footer"><a class="btn btn-primary btn-sm" href="{% url 'cascos'%}">Entrar</a></div>
        </div>
      </div>
      <div class="col-md-4 mb-5">
        <div class="card h-100">
            <div class="card-body">
                <h2 class="card-title">Guantes</h2>
                <p class="card-text">Aca te ofrecemos la mejor variedad de guantes con la mejor durailidad que existe en la actualidad.</p>
            </div>
            <div class="card-footer"><a class="btn btn-primary btn-sm" href="{% url 'guantes'%}">Entrar</a></div>
        </div>
      </div>
      <div class="col-md-4 mb-5">
        <div class="card h-100">
            <div class="card-body">
                <h2 class="card-title">Indumentaria</h2>
                <p class="card-text">Aca te ofrecemos la mejor variedad de indumentaria al mejor Precio que existe en la actualidad.</p>
            </div>
            <div class="card-footer"><a class="btn btn-primary btn-sm" href="{% url 'indumentaria'%}">Entrar</a></div>
        </div>
      </div>
      <div class="col-md-4 mb-5">
        <div class="card h-100">
            <div class="card-body">
                <h2 class="card-title">Equipaje</h2>
                <p class="card-text">Te ofrecemos la mejor variedad de case's, balijones y todo tipo de equipaje para tu viaje al mejor Precio.</p>
            </div>
            <div class="card-footer"><a class="btn btn-primary btn-sm" href="{% url 'equipaje'%}">Entrar</a></div>
        </div>
      </div>
      <div class="col-md-4 mb-5">
        <div class="card h-100">
            <div class="card-body">
                <h2 class="card-title">Accesorios</h2>
                <p class="card-text">Te ofrecemos la mejor variedad en Accesorios para todo tipo de motociclista con la mejor calidad y al mejor Precio.</p>
            </div>
            <div class="card-footer"><a class="btn btn-primary btn-sm" href="{% url 'accesorios'%}">Entrar</a></div>
        </div>
      </div>
      <div class="col-md-4 mb-5">
        <div class="card h-100">
            <div class="card-body">
                <h2 class="card-title">Repuestos</h2>
                <p class="card-text">Te ofrecemos la mejor variedad en Repuestos para todo tipo de motociclista con la mejor calidad y al mejor Precio.</p>
            </div>
            <div class="card-footer"><a class="btn btn-primary btn-sm" href="{% url 'repuestos'%}">Entrar</a></div>
        </div>
      </div>
      <div class="col-md-4 mb-5">
        <div class="card h-100">
            <div class="card-body">
                <h2 class="card-title">Tecnologia</h2>
                <p class="card-text">Te ofrecemos la mejor variedad en tecnoologia para el motociclista con la mejor calidad y al mejor Precio.</p>
            </div>
            <div class="card-footer"><a class="btn btn-primary btn-sm" href="{% url 'tecnologia'%}">Entrar</a></div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
